/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

body {
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper_full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section_title::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    padding-bottom: 30px;
    z-index: 999;

}

.header_active {
    background: #0E1D28;
}

.header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: 100%;
    color: yellow;
}

.header_burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}



/* Header styles end */



/* Intro styles start */
.intro {
    padding-top: 263px;
    padding-bottom: 223px;
    min-height: 100vh;
    background: url(../img/intro_bg.jpg) no-repeat center;
    background-size: cover;
}

.intro_title {
    margin-bottom: 22px;
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
}

.intro_subtitle {
    margin-bottom: 59px;
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.search-form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 22px;

}

.search-form_field {
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: transparent url(../img/svg/sfera.svg) no-repeat left 8px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: yellow;
}

.search-form_field::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form_field::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form_field:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form_field::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form_submit {
    padding: 15px 39px;
    background-color: #1B7DFF;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
    background-color: blue;
}

/* Intro styles end */


/* Benefits styles start */



.benefits_wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title {
    width: 100%;
    padding: 93px 100px 88px 100px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: white;
}



.benefits_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 55px;
    -moz-column-gap: 55px;
    column-gap: 55px;
    padding: 0 100px;
}

.benefits_card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits_card-thumb {
    display: block;
}

.benefits_card-title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefits_card-desc {

    margin-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefits_card-more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    background: url(../img/svg/shape.svg) no-repeat 95% center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.benefits_card-more:hover,
.benefits_card-more:focus {
    background: url(../img/svg/shape.svg) no-repeat right center;
}

/* Benefits styles end */


/* Places styles start */

.places {
    margin-top: 131px;
}

.places_caption {
    margin-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.places_title {
    margin-right: 15px;
}

.places_view-all {
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    background: url(../img/svg/shape.svg) no-repeat right center;
}

.places_view-all:hover {
    opacity: .70;
}

.places_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    row-gap: 5px;
}

.places_card {
    position: relative;
    overflow: hidden;
}

.places_card::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places_card:hover .places_card-pic {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.places_card_size_lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;

}

.places_card_size_sm {
    -ms-grid-column-span: 2;
    grid-column: span 2;

}

.places_card-pic {
    width: 100%;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.places_card-pic_size_lg {
    height: 354px;
    -o-object-fit: cover;
    object-fit: cover;
}

.places_card-pic_size_sm {
    height: 283px;
    -o-object-fit: cover;
    object-fit: cover;
}

.places_card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* Places styles end */



/* Tour styles start */

.tours {
    margin-top: 131px;
}

.tours_tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 108px;
    -moz-column-gap: 108px;
    column-gap: 108px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 77px;
}

.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 70px;
}

.tour_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more {
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    background: url(../img/svg/shape.svg) no-repeat right center;
}

.tour_more:hover,
.tour_more:focus {
    opacity: .65;
}

/* Tour styles end */




/* Top styles start */

.top {
    margin-top: 139px;
}

.top-title {
    margin-bottom: 64px;
}

.top_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 57px;
    -moz-column-gap: 57px;
    column-gap: 57px;
    row-gap: 57px;
}

.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}


.top_card-stats {
    padding: 16px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    ;
}

.top_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top_card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/svg/serdce.svg) no-repeat right;
    margin-right: 14px;
}

.top_card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../img/svg/coment.svg) no-repeat right;
}

.top-card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}

.top_card-more {
    padding: 12px 19px;
    background-color: #006DFE;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.top_card-more:hover,
.top_card-more:active,
.top_card-more:focus {
    background-color: blue;
}

/* Top styles end */



/* Videos styles start */

.videos {
    width: 100%;
    margin-top: 144px;
}

.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item {
    padding-top: 56.25%;
}

.video_element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos styles end */


/* Footer styles start */

.footer {
    background-color: #0E1D28;
    padding: 119px 0;
}

.footer_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

.footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}

.footer_menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.footer_menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.footer_menu-link:hover,
.footer_menu-link:focus,
.footer_menu-link:active {
    opacity: .75;
}

/* Footer styles end */


/* Media start */

@media screen and (max-width: 960px) {
    .places {
        margin-top: 5px;
    }

    .search-form_field {
        margin-bottom: 25px;
    }

    .benefits_cards {
        padding: 0 15px;
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
        column-gap: 25px;

    }

    .benefits_title {
        padding: 55px 15px;
    }

    .benefits_wrap {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .places_card_size_lg {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .places_card_size_sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .tours_tour {
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
    }

    .tour_info {
        padding-left: 0px;
    }

    .tour_title {
        margin-bottom: 15px;
    }

    .tour_desc {
        margin-bottom: 15px;
    }

    .top_card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .footer {
        padding: 55px 0px;
    }

    .top_card-more {
        text-align: center;
    }

}



@media screen and (max-width: 767px) {

    .section_title::after {
        width: 70px;
    }

    .places_caption {
        margin-bottom: 15px;
    }

    .section_title {
        margin-bottom: 25px;
    }

    .header_burger {
        display: block;
    }

    .header_wrapper {
        padding-top: 20px;
    }

    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0E1D28;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: .3s all linear;
        -o-transition: .3s all linear;
        transition: .3s all linear;
    }

    .header_nav_active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_item:last-child {
        margin-bottom: 0;
    }

    .header_link {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 30px;
    }

    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;

    }

    .header_nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }

    .search-form_field {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: transparent url(../img/svg/sfera.svg) no-repeat left 5px;
    }

    .search-form_field::-webkit-input-placeholder {
        font-size: 12px;
    }

    .search-form_field::-moz-placeholder {
        font-size: 12px;
    }

    .search-form_field:-ms-input-placeholder {
        font-size: 12px;
    }

    .search-form_field::-ms-input-placeholder {
        font-size: 12px;
    }

    .search-form_field::placeholder {
        font-size: 12px;
    }

    .intro {
        padding-top: 120px;
    }

    .intro_title {
        padding-top: 0;
        font-size: 32px;
        line-height: 48px;

    }

    .intro_subtitle {
        font-size: 14px;
    }


    .benefits_card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
        margin-bottom: 20px;
    }

    .benefits_card-pic {
        margin-bottom: 15px;
    }

    .benefits_card-desc {
        margin-bottom: 10px;
    }

    .benefits_title {

        padding: 3px 20px;
        font-size: 25px;
    }

    .benefits_card-title {
        margin-bottom: 10px;
    }

    .search-form_submit {
        font-size: 15px;
        padding: 5px 20px;
    }

    .tours {
        margin-top: 30px;
    }

    .tour_pic,
    .tour_info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .tour_pic {
        margin-bottom: 15px;
    }

    .tour_pic_mob-first {
        -ms-grid-row: -1;
        grid-row-start: -1;
    }

    .tours_tour {
        margin-bottom: 25px;
    }

    .top {
        margin-top: 25px;
    }

    .top_card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .top_card-pic {
        margin-bottom: 30px;
    }

    .videos {
        margin-top: 70px;
    }

    .footer_logo {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer_nav {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        padding: 75px 30px;
    }
}



/* Media end */